@import url('https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900&display=swap');

*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth;
}

body 
{
    min-height: 100vh;
    overflow-x: hidden;
    background: linear-gradient(#2b1055, #7597de);
}

header 
{
    position: fixed; 
    top: 0;
    left: 0;
    width: 100%;
    padding: 30px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 10000; 
    background: transparent; 
}

header .home
{
    color: #fff;
    font-weight: 700;
    text-decoration: none;
    font-size: 2em;
    text-transform: uppercase;
    letter-spacing: 2px;
}

header ul
{
    display: flex;
    justify-content: center;
    align-items: center;
}

header ul li
{
    list-style: none;
    margin-left: 20px;
}

header ul li a
{
    list-style: none;
    padding: 6px 15px;
    color: #fff;
    border-radius: 20px;
    text-decoration: none;
}


header ul li a:hover,
header ul li a.active
{
    background: #fff;
    color: #2b1055;
    text-decoration: none;
}

section 
{
    position: relative;
    width: 100%;
    height: 100vh;
    padding-top: 130px; 
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

section::before
{
    content: '';
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100px;
    background: linear-gradient(to top,#1c0522,transparent);
    z-index: 1000;

}

section img
{
    position: absolute;
    top: 0;
    Left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    pointer-events: none;
    z-index: -1;
}

section img#moon
{
    mix-blend-mode: screen;
    width: 80%;
    height: auto;
    transform: translate(550px, 40px);
}

section img#mountains_front
{
    position: absolute;
    z-index: -1;
}

#text
{
    position: absolute;
    color: #fff;
    white-space: nowrap;
    font-size: 4.5vw;
    z-index: -2;
    transform: translate(25px, -120px);
}

#btn
{
    position: absolute;
    text-decoration: none;
    display: inline-block;
    padding: 8px 30px;
    border-radius: 40px;
    background: #fff;
    color: #2b1055;
    font-size: 1.5em;
    z-index: 1;
    text-align: center;
    
}

.sec
{
    position: relative;
    padding: 100px;
    background: #1c0522;
    background-image: url('stars.png');
}

.sec h1
{
    font-size: 1em;
    margin-bottom: 10px;
    color: #fff;
    text-align: center;
    transform: translateY(80px);

}

.sec h2
{
    font-size: 2.5em;
    margin-bottom: 10px;
    color: #fff;
}

.sec p
{
    font-size: 0.95em;
    color: #fff;
}

.secAM h2
{
    font-size: 2.5em;
    margin-bottom: 10px;
    color: #fff;
}

.secAm p
{
    font-size: 0.95em;
    color: #fff;
}

.footer-text {  
    color: #ffffff;
    text-align: center;
    padding: 30px 0; 
    transform: translateY(30px);
}

.footer {
    background: linear-gradient(to top, #2b1055, #1c0522);
    text-align: center;
    padding: 10px; 
    position: relative; 
    bottom: 0; 
    width: 100%; 
}